using Distributed, AzManagers, Random, Test, HTTP, AzSessions, JSON

resourcegroup = "{{ env['RESOURCE_GROUP'] }}"
{# credentials = JSON.parse( {{ env['AZURE_CREDENTIALS'] }} ) #}
subscriptionid = "{{ env['SUBSCRIPTION_ID'] }}"
templatename = "cbox02"
client_id = "{{ env['CLIENT_ID'] }}"
client_secret = "{{ env['CLIENT_SECRET'] }}"
tenant_id = "{{ env['TENANT_ID'] }}"

sstemplate = AzManagers.build_sstemplate(
        templatename,
        subscriptionid       = subscriptionid,
        location             = "southcentralus",
        resourcegroup        = resourcegroup,
        resourcegroup_vnet   = resourcegroup,
        vnet                 = "{{ env['RESOURCE_GROUP'] }}-vnet",
        subnet               = "default",
        imagegallery         = "{{ env['SIG_NAME'] }}",
        imagename            = "unit-test-image",
        skuname              = "Standard_D2s_v3")

AzManagers.save_template_scaleset(templatename, sstemplate)

AzSessions.write_manifest(;client_id=client_id, client_secret=client_secret, tenant=tenant_id)
AzManagers.write_manifest(;resourcegroup=resourcegroup, subscriptionid=subscriptionid, ssh_user="cvx")
